{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h3>Hey jeune homme</h3>

    <ul>

        <li><a href="{{ path ('app_animator') }}">Voir tes animateur</a></li>
        <li><a href="{{ path ('app_category') }}">Voir tes catégories</a></li>
        <li><a href="{{ path ('app_etablissement') }}">Voir tes établissement</a></li>
        <li><a href="{{ path ('app_event') }}">Voir tes events</a></li>
        <li><a href="{{ path ('app_room') }}">Voir tes salles</a></li>
        <li><a href="{{ path ('app_tag') }}">Voir tes tag</a></li>

    </ul>

{% endblock %}
